

#desk {
    transform: rotatex(30deg);
    width: 150vw;
    height: 100%;
    background: url("/images/desk.jpg");
    position: relative;
    left: -20vw;
}

#phone {
    transform: rotatex(30deg);
    box-shadow: -12px 12px 2px 4px black;
}

#films {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
}

.filmStrip {
    display: inline-grid;
    grid-template-columns: auto;
    text-align: center;
    background-color: white;
    padding: 1vw;
    margin-left: 5vw;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.filmStrip img {
    border: 2px black solid;
    height: 18vh;
    margin-top: 5%;
}

.filmStrip:nth-child(1) {
    transform: translate(0px, 5vh);
}

.filmStrip:nth-child(2) {
    transform: translate(0px, -1vh) rotate(-3deg);
}

.filmStrip:nth-child(3) {
    transform: translate(-5vw, 2vh) rotate(-12deg);
}

.filmStrip:nth-child(4) {
    transform: translate(-10vw, 2vh) rotate(5deg);
}