@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@100;300&display=swap');

:root {
    --primary-color: #085078;
    /*     #0D345B*/
    --secondary-color: #fdbb2d;
    --tertiary-color: #303841;
    --quaternary-color: #4cbb17;
    --quinary-color: #fff8e6;
    --background-color: #E0E5EC;
}

/* Global Styling */
* {
    margin: 0px;
    padding: 0px;
    user-select: none;
}

h1 {
    display: inline-block;
}

h2 {
    display: inline-block;
}

html {
    overflow: hidden
}

body {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    perspective-origin: 50% 0;
    perspective: 100vh;
    background: radial-gradient(at 20% 10%, #bdc9c0, #A3AeA6);
    text-align: center;
}

h2 {
    color: var(--primary-color);
}

li {
    list-style: none;
}

p {
    color: var(--primary-color);
}

div {
    position: relative;
    display: inline-block;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #AC3834;
}

/* End of Global Styling */
/* Navbar Styling*/
a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1vw;
}

#phone {
    height: 35vh;
    width: 13vw;
    position: absolute;
    bottom: 0px;
    right: 5vw;
    z-index: 2;
    border-radius: 2vw 2vw 0px 0px;
    border: solid 1vh black;
    border-bottom: transparent;
    background: url("/images/iphone.jpg");
    background-size: cover;
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

#notch {
    background-color: black;
    width: 50%;
    height: 5%;
    border-radius: 0px 0px 8px 8px;
}

#apps {
    display: inline-grid;
    /*     grid-column-gap: 50px; */
    justify-content: space-evenly;
    grid-template-columns: auto auto;
    align-content: space-evenly;
    height: 100%;
    width: 100%;
}

#apps a div {
    height: 8vh;
    width: 8vh;
}

#apps a {
    height: 8vh;
    width: 8vh;
    border-radius: 8px;
    cursor: pointer;
    background-color: #E0E5EC;
}

#apps img {
    margin-top: 10%;
    width: 80%;
    height: 80%;
}

/* End of Navbar Styling */